{
    "compilerOptions": {
        "module": "ESNext",
        "moduleResolution": "Node",
        "esModuleInterop": true,
    },
    "ts-node": {
        "esm": true,
        "experimentalSpecifierResolution": "node",
    }
}